.line{
    background-color: black;
    width: 70px;
    height: 5px;
    margin: 8px auto;
}

body{
    background-color: darkgoldenrod;
    width: 100%;
}

#myCarousel img{
    height: 300px;
    margin: 35px;
}

.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #242629;
    font-size: 20px;
}
img:hover{
    height: 400px;
}

#myCarousel{
    background-color: #096a88;
}

.container{
    text-align: center;
}